app = "fahregut-auto-crawler"
primary_region = "fra"

[env]
  PORT = "10000"
  NODE_ENV = "production"

[http_service]
  internal_port = 10000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "1gb"
